.hovered-rating {
  color: black;
  font-size: 0.8rem;
}

.personal-h4 {
  color: black;
  font-size: 0.8rem;
}

h4 {
  font-size: 0.8rem;
}

#rating-div {
  min-width: 250px;
  display: inline;
  background-color: #f2f2f2;
  border-radius: 5px;
  text-align: center;
  /* position: absolute; */
  z-index: 150;
  padding: 5px;
  border: 4px solid #3ebd66;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}


#no-reviews-h4 {
  color: black;
}

#community-approved-h4 {
  color: black;
  margin-bottom: 0.6em;
}

#rating-div hr {
  background-color: #f2f2f2;
  border-color: #3ebd66;
  border-style: dotted none none none;
  border-width: 8px;
  margin: auto;
  width: 48px;
}

