body {
  width: 300px;
}
.content {
  text-align: center
}

button {
  margin: 0 auto;
  margin-top: 5px;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
}

#save-url-img {
  display: inline;
  width: 25%;
}

#remove-url-img {
  display: inline;
  width: 20%;
}
